<header class="h-[74px] bg-header-bg flex items-center justify-between px-4 sm:px-6 shadow-md">
  <div class="flex items-center gap-3">
    <ng-content select="[navLeft]"></ng-content>
  </div>
  <div class="flex items-center gap-3 text-white">
    <span class="w-8 h-8 rounded-full  flex items-center justify-center">
      <ng-content select="[navIcon]"></ng-content>
    </span>
    <span class="text-sm sm:text-base font-normal whitespace-nowrap">
      <ng-content select="[navRight]"></ng-content>
    </span>
  </div>
</header>
