<div class="w-full">
  @if (isCheckbox()) {
    <label class="flex items-center gap-2">
      <input type="checkbox" class="checkbox" [formControl]="control()" />
      <span class="text-sm">{{ placeholder() }}</span>
    </label>
  } @else {
    <input
      [type]="inputType()"
      [class]="inputClass()"
      [placeholder]="placeholder()"
      [formControl]="control()"
    />
  }
  @if (showEmptyError()) {
    <app-message
      [textMessage]="'Please enter a correct national ID/Password '"
      [messageStyle]="MessageStyle.ERROR"
    />
  }
</div>
