<div class="w-full">
  @if (!isCheckbox() && label()) {
    <label class="block mb-2 font-semibold text-black">
      {{ label() }}
    </label>
  }
  @if (isCheckbox()) {
    <label class="flex items-center gap-2">
      <input type="checkbox" class="checkbox" [formControl]="control()" />
      <span class="text-sm">{{ label() || placeholder() }}</span>
    </label>
  } @else {
    <input
      [type]="inputType()"
      [class]="inputClass()"
      [placeholder]="placeholder()"
      [formControl]="control()"
    />
  }
  @if (showError()) {
    <span class="text-sm text-error">
      {{ errorMessage() }}
    </span>
  }
</div>
