.btn-login {
  width: 313.97px;
  height: 41.31px;
  background-color: #612550;
  color: #fff;
  border-radius: 12px;
  border: none;
  font-weight: 500;
  box-shadow: 0 4px 10px rgba(233, 68, 75, 0.25);
  font-family: 'Poppins', sans-serif;
  font-size: 14px;
  line-height: 100%;
  letter-spacing: 0.03em;
  text-align: center;
}
.btn-login:hover {
  background-color: #532043;
  color: #fff;
}
